header{
    background-color: black;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
}

.logo{
    color: blanchedalmond;
    justify-content: center;
}

#qplogo{
    width: 8%;
    padding: 0.5%;
    align-content: center;
    justify-content: center;
}
body{
    background-color: #E8E8E8;
}

.side{
    /* margin-top: 3%; */
    /* padding: 0; */
    /* padding:3%; */
    /* background-color: ; */
    height: strech;
    border: 1px solid #B8B8B8;
    
    
    border-radius: 2%;
    color: #ffc107;
    color: black;
    background: #E0E0E0;
    
}

#glrow{
    margin-top: 0.5%;
    padding-top: 0;
    padding: 0.5%;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}




ul{
    list-style-type: none;
}

li{
    padding-top: 1%;
}

.containerq, .containerq::before, .containerq::after {
    box-sizing: border-box;
    
  }

  .containerq{
      display: block;
      justify-content: center;
      align-items: center;
      position: relative;
      
      
  }

 
  .btn{
      font-size: 27px;
  }

  #question{
      font-size: 50px;
  }

  #questionid{
      justify-content: center;
  }

.pitanje{
    justify-content: center;
      
} 

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
}


.div_btn{
    display: flex; justify-content: center;
}
.btn{
    background-color: black;
    color: white;

}

.btn:hover{
    background-color: grey;
}



.controls{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 40px;
}

.next_div{
    display: flex; justify-content: flex-end;
    
}

#playa-btn{
    background-color: #2E8B57;
    visibility: hidden;
}
.next-btn{
    background-color: #2E8B57;
}
.next-btn:hover{
    background-color: rgb(116,209,158);
}
.start-btn{
    background-color: #2E8B57;
}
.start-btn:hover{
    background-color: rgb(116,209,158);
}

#glrow{
    font-size: 25px;
}

.hello{
    margin-bottom: 0px;
    color: white;
    font-size: 30px;

}



#signout{
    background-color:  grey;
    width: 90px;
    height: 35px;
    border: none;
    font-size: 20px;
    color: white;
}

#admin{
    margin-top: 5%;
    background-color:  grey;
    width: 140px;
    height: 35px;
    border: none;
    font-size: 20px;
    color: white;
}

.quote_div{
    /* background-color: grey; */
    justify-items: center;
    justify-content: center;
    text-justify: center;
    margin-top: 26px;
    
}

.second{
    background-color: rgb(255, 244, 145);
    text-justify: center;
    border: 1px solid khaki;
    border-radius: 2%;
    justify-content: center;
    justify-items: center;
}

#quote{
    font-size: 16px;
}


#generate{
    background-color: rgb(255, 249, 191);
    border:1px solid rgb(48, 47, 47);
    border-radius: 2px;
}

#generate:hover{
    background-color: rgb(48, 47, 47);
    color:rgb(255, 249, 191) ;
}

#buttonGenerate{
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
    
}
